/* Navbar */
nav {
  background-color: 964B00;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

#home {
  background-image: url('bag4.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    padding-bottom: 20px;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}


#menu {
  background-image: url('bag5.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
   margin-top: 20px;
}

#about {
  background-image: url('bag3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}


.galeri-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.foto {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.foto img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#contact {
	background-color:"black";

}